$light: #eeeeee;
$black: #000000;
$primary: #FCB528;
$white: #ffffff;

@import url('https://fonts.googleapis.com/css?family=PT+Serif|Roboto+Mono');

$mono: 'Roboto Mono', monospace;
$serif: 'PT Serif', serif;
$sans: 'BlinkMacSystemFont', sans-serif;
