@import 'variables';

nav {
  display: flex;
  justify-content: space-between;
  background: $light;
  // align-items: center;
  height: 0;
}

.logo {
  font-size: 1.4em;
  margin-left: 1.5em;
  font-family: $sans;
  color: $light;
  font-weight: 100;
  letter-spacing: 3px;
  text-transform: uppercase;
}

nav {
  ul {
    list-style-type: none;
    margin-right: 1em;
    li {
      display: inline-block;
      margin-right: 1.8em;
      margin-top: 10px;
      a {
        text-decoration: none;
        color: $light;
        font-weight: 100;
        letter-spacing: 3px;
        text-transform: uppercase;
        font-size: 0.8em;
        border-radius: 10px;
        background-color: rgba($primary,0);
        padding: 10px;
        &:hover {
          transition: all .8s ease;
          background-color: $primary;
          border-radius: 10px;
          color: $black;
          padding: 10px;
        }
      }
    }
    .nav-special {
      background: $primary;
      border-radius: 10px;
      color: $black;
      padding: 10px;
      &:hover {
        transition: all .8s ease;
        background-color: $light;;
        color: $black;
      }
    }
  }
}

.section-nav {
  height: 75px;
  a {
    color: $black;
  }
  .logo {
    color: $black;
  }
  ul {
    li {
    }
  }
  .nav-special {
    background: $secondary;
    color: $white;
  }
}
